<a href="https://colab.research.google.com/github/atharrva01/Learning_Ai/blob/main/session4_futureskills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = ["Atharva","Borafe","8999",777,879]
list2 = ["A","Bo","8999",7,79]

list1.extend(list2)
print(list1)

['Atharva', 'Borafe', '8999', 777, 879, 'A', 'Bo', '8999', 7, 79]

In [ ]:
listA = ["abcd" , "soouth" , "borade","hindi"]

def give_last_index(arr):
  return arr[-1]

print(sorted(listA,key=give_last_index))

['abcd', 'borade', 'soouth', 'hindi']

In [39]:
set1 ={1,"Atharva",123,2,6,21,98}
set1.add("Borade")

set2 = set()




for i in range(1,23):
  set2.add(i)

universealset = set1.union(set2)

# print(set1)
# print(set2)

set3 = set1 | set2
set3 = set1.union(set2)


set4 = set1.intersection(set2)
# print(set4)

print(universealset)

set5 = set2.issubset(universealset)
print(set5)

{1, 2, 3, 4, 'Borade', 6, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 20, 22, 'Atharva', 98, 123}
True