<a href="https://colab.research.google.com/github/atharrva01/Learning_Ai/blob/main/session_10_futureskills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
def say(para , time):
  return para * time

# say("hello " , 9)
# args
def random(*argv):
    for arguments in argv:
      print(arguments)


random("Atharva" ,19,"okk")


#kwargs

def intro(**data):
    print("Data type is: ",type(data))

    for key,value in data.items():
      print("{} is {}".format(key,value))


intro(firstname = "atharva" , lastname = 'borade' , age = 18)

Atharva
19
okk
Data type is:  <class 'dict'>
firstname is atharva
lastname is borade
age is 18

In [16]:
def sum(*numb):
  count = 0
  for i in numb:
    count += i
  return count



sum(12,9,9,1,9999)

10030

In [23]:
# Print a 4x4 square of @

for i in range(0,4):
  for j in range(0,4):
    print("@",end = " ")
  print("\n")

@ @ @ @

@ @ @ @

@ @ @ @

@ @ @ @

In [34]:
n = 8
k = n + 1

for i in range(0,n):
  for j in range(0,k):
    print(" ",end = "")
  k -= 1
  for j in range(0,i+1):
    print("$",end=" ")
  print("\r")

         $
        $ $
       $ $ $
      $ $ $ $
     $ $ $ $ $
    $ $ $ $ $ $
   $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $

In [39]:
# Print row numbers like this:

# 1 1 1
# 2 2 2
# 3 3 3

for i in range(1,4):
  for j in range(1,4):
    print(j, " ",end="")
  print("\n")

1  2  3

1  2  3

1  2  3

In [66]:
# Print this triangle of *
n = 4
k = n + 1

for i in range(0,n):
  for j in range(0,1+i):
    print("@" , end=' ')
  print("\n")

@

@ @

@ @ @

@ @ @ @

In [67]:
# Print numbers like this:
n = 4
k = n + 1

for i in range(0,n):
  for j in range(0,1+i):
    print(j , end=' ')
  print("\n")

0

0 1

0 1 2

0 1 2 3

In [84]:
# Q6. Print reverse numbers:

n = 4
k = n + 1

for i in range(0,6):
  for j in range(0,i+1):
    print(j , end=' ')
  print("\n")

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

0 1 2 3 4 5