<a href="https://colab.research.google.com/github/atharrva01/Learning_Ai/blob/main/session12_futureskills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:

dict1 = {
    "a" : 3,
    "b" : 5,
}

print(dict1["c"])
# print(dict1["a"])

KeyError: 'c'

In [9]:
import collections as ci

dict1 = ci.defaultdict(lambda : "Key not availble in the given dictionary")

dict1["a"] = 4

print(dict1["c"])
print(dict1["a"])

Key not availble in the given dictionary
4

In [14]:
square = lambda x : x*x
square(5)

25

In [19]:
numbers = [9,6,53,12,11,3]

list(map(lambda x: x**3,numbers))

[729, 216, 148877, 1728, 1331, 27]

In [26]:
#filter function

values = [74, 3, 28, 91, 62, 45, 12, 7, 80, 39,
66, 25, 58, 83, 34, 99, 4, 13, 56, 17,
88, 21, 36, 61, 2, 73, 10, 55, 96, 5,
14, 93, 30, 41, 22, 77, 18, 67, 6, 35,
48, 23, 64, 9, 26, 81, 8, 53, 50, 19
]

even_num_in_list = list(filter(lambda x: x % 2 == 0,values))
odd_num_in_list = list(filter(lambda x: x % 2 == 1,values))

print("Even no. in the list are: " , even_num_in_list)
print("There are total ",len(even_num_in_list)," even no. in the list")
print("Odd no. in the list are: ", odd_num_in_list)
print("There are total ",len(odd_num_in_list),"odd no. in the list")

Even no. in the list are:  [74, 28, 62, 12, 80, 66, 58, 34, 4, 56, 88, 36, 2, 10, 96, 14, 30, 22, 18, 6, 48, 64, 26, 8, 50]
There are total  25  even no. in the list
Odd no. in the list are:  [3, 91, 45, 7, 39, 25, 83, 99, 13, 17, 21, 61, 73, 55, 5, 93, 41, 77, 67, 35, 23, 9, 81, 53, 19]
There are total  25 odd no. in the list

In [33]:
from functools import reduce

values = [74, 3, 28, 91, 62, 45, 12, 7, 80, 39,
66, 25, 58, 83, 34, 99, 4, 13, 56, 17,
88, 21, 36, 61, 2, 73, 10, 55, 96, 5,
14, 93, 30, 41, 22, 77, 18, 67, 6, 35,
48, 23, 64, 9, 26, 81, 8, 53, 50, 19
]

sumofvalues = (reduce(lambda x,y : x*y ,values))
print(sumofvalues)

help(reduce)

31736679813894846797823384951281318833939541842700849336077516800000000000
Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, iterable[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence
    or iterable, from left to right, so as to reduce the iterable to a single
    value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the iterable in the calculation, and serves as a default when the
    iterable is empty.