<a href="https://colab.research.google.com/github/atharrva01/Learning_Ai/blob/main/session5_futureskillsprime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
set1 ={1,"Atharva",123,2,6,21,98}
set1.add("Borade")

set2 = set()




for i in range(1,23):
  set2.add(i)

universealset = set1.union(set2)

# print(set1)
# print(set2)

set3 = set1 | set2
set3 = set1.union(set2)


set4 = set1.intersection(set2)
# print(set4)

print(universealset)

set5 = set2.issubset(universealset)
print(set5)


set7 = set1 - set2
print(set7)



num1 = {1,2,3,4,5,9}
num2 = {6,7,8,9}

if num1.isdisjoint(num2):
  print("nothing is in common")
else:
  print("something is in common: ",num1.intersection(num2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 98, 'Atharva', 'Borade', 123}
True
{'Atharva', 98, 123, 'Borade'}
something is in common:  {9}

learnt about varius dictories and syring methods and all

In [17]:
dict1 = {
    "Name" : "Atharva",
    "Age" : 18,
    "Salary" : 0,
}

print(dict1["Salary"])

del(dict1["Age"])

print(dict1)


dict1.clear()
print(dict1)

0
{'Name': 'Atharva', 'Salary': 0}
{}