<a href="https://colab.research.google.com/github/atharrva01/Learning_Ai/blob/main/session9_futureskills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [18, 24, 29, 17, 22, 20, 27, 25, 16, 19, 30, 21, 26, 23, 28, 20, 17, 29, 18, 22]

for i in numbers:
  if i <= 18:
    print("kids here, system crashed")
    break
else:
  print("no kid program can run smoothly")

kids here, system crashed

In [ ]:
people = ["Atharva"  , "Sahil" , "Darshan" , "Shubham" , "Sushant"]

list(enumerate(people))

for i,j in enumerate(people):
  print('at index {0} value is {1}'.format(i,j))

at index 0 value is Atharva
at index 1 value is Sahil
at index 2 value is Darshan
at index 3 value is Shubham
at index 4 value is Sushant

In [ ]:
i = 1
n = int(input("Enter the no.: "))
while i < 11:
  print(f"{n} X {i} = {n*i}")
  i += 1

Enter the no.: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [ ]:
# #nested loops
# matrix = [
#     [1, 2, 3],
#     [4, 5, 6],
#     [7, 8, 9]
# ]


# for row in matrix:
#     for item in row:
#         print(item, end=' ')
#     print()


for i in range(2):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

In [ ]:
matrix1 = [
    [19,20],
    [33,12]
]

for row in matrix1:
  for element in row:
    print(element,end = " ")
  print()

19 20
33 12

In [ ]:
for i in range(0,5):
  for j in range(0,6):
    print("#",end = " ")
  print()

# # # # # #
# # # # # #
# # # # # #
# # # # # #
# # # # # #